  body{
      background: teal;
      color: #fff;
      padding:20px;
      letter-spacing: 5px;
      font-family: Arial, Helvetica, sans-serif;
      /* float: left; */
    }

.container {
 justify-content: center;
}

  .form-control {
      column-width: 50px;
  }
    .tile{
      height:200px;
      width:200px;
      float:left;
      margin:5px 5px 5px 5px;
      padding:2px;
      font-size: 48px;
      line-height: 45px;
      letter-spacing: 5px;
      color: #ECF0F1;
    }
    section {
      display: inline-block;
      float: left;
  }  
  .tags {
    display: table;
  }
  .col {
    display: table-row;
  }
  .col label {
    display: table-cell;
  }

  

    input {
      padding: 10px 15px;
      border: none;
      outline: none;
      width: 300px;
      border-radius: 16px 0px 16px 0px
      }
    
    * {
        box-sizing: border-box;
      }

      /* Float four columns side by side */
      .column {
        float: left;
        width: 12.5%;
        padding: 10px 10px;

      }
      /* Remove extra left and right margins, due to padding */
      .row {
        margin: 0 -5px;
        float: left;
      }


      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      /* Responsive columns */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
          height: auto;
        }
/* 
        @media screen and (max-width: 1200px) {
          .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
            height: auto;
          
          } */


      }
      /* Style the counter cards */
      .card {
        /* display: flex;
        justify-content: space-between; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px 16px 16px 16px;
        margin-block-start: 20px;
        text-align: center;
        /* text-overflow: clip; */
        margin-left: auto;
        margin-right: auto;
        max-width: 325px;
        /* max-height: 300px;
        min-height: 300px; */
        height: 100%;
        /* max-height: 200px; */
        word-wrap: break-word;
        /* font-size: 15.5vw; */
        float: left;
        background-color: lightcoral;
        /* overflow: hidden; */
        object-fit: cover;
      }

  button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 16px 16px 16px;
    margin-block-start: 20px;
    text-align: center;
    font
    /* text-overflow: clip; */
    margin-left: auto;
    margin-right: auto;
    min-width: 325px;
    color: white;
    /* max-height: 300px; */
    /* min-height: 200px; */
    height: 100%;
    /* max-height: 200px; */
    word-wrap: break-word;
    /* font-size: 15.5vw; */
    float: left;
    background-color: lightcoral;
    /* overflow: hidden; */
    object-fit: cover;
  }    

li {
  color: white;
}


  p {
    font-size: 1vw;
    text-align: center;
  }

  h3 {
  font-size: 1vw;
  text-align: center;
  color: white;
}
  /* 
      .card::nth-of-type(odd) {
        background-color: antiquewhite;}  */
  /* 
        .grid {
          display: grid;
          grid-template-columns: repeat( 4, 1fr );
        
          .item {
            grid-column: span 2;
          }
          
          .item:nth-last-child(1):nth-child(odd) {
            grid-column: 2 / span 2;
          }

          .grid-on-left {
            @include grid-center-last( 2 );
          }
          
          .grid-on-right {
            @include grid-center-last( 3 );
          }
          
          @mixin grid-center-last( $columns ) {
            $total_columns: $columns * 2;
            $span: $total_columns / $columns;
            $offset: $columns - 1;
            $nth-child: if( $columns % 2 == 0, 'odd', 'even' );
          
            display: grid;
            grid-template-columns: repeat( $total_columns, 1fr );
          
            & > * {
              grid-column: span $span;
          
              &:nth-last-child(#{$offset}):nth-child(#{$nth-child}) {
                grid-column: $span / span $span;
              }
            }
          }
        *